<!DOCTYPE html>

<head>
    <link href="static/style.css" rel="stylesheet" />
    <link href="static/guess.css" rel="stylesheet" />
</head>

<body>
    <div align="center">
        <div class="row">
            <span>Score: {{ score }}</span>
            <span>Username: {{ username }}</span>
        </div>
        <h1 margin-top: 20vh>Guess the song name:</h1>
        <button class="answer_btn">{{ songs[0] }}</button>
        <br>
        <button class="answer_btn">{{ songs[1] }}</button>
        <br>
        <button class="answer_btn">{{ songs[2] }}</button>
    </div>
</body>