<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='guess.css') }}">
</head>

<body>
    <div>
        <div class="row">
            <span>Score: {{ score }}</span>
            <span>Username: {{ username }}</span>
        </div>
        <h1 margin-top: 20vh>Guess the song name:</h1>
        <button class="guess_btn">{{ songs[0] }}</button>
        <br>
        <button class="guess_btn">{{ songs[1] }}</button>
        <br>
        <button class="guess_btn">{{ songs[2] }}</button>
    </div>
</body>